extends layout

block content
  h1= title
  p Welcome to #{title}
  if posts
  each post, i in posts
    a(href='/posts/show/#{post._id}')    
      h1= post.title
    p Posted in 
      a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
    img.img-responsive(src='/images/uploads/#{post.mainimage}')
    .well
      p!= truncateText(post.body, 400)
    a.btn.btn-primary(href='/posts/show/#{post._id}', role='button') Read More
    hr
  else
    .well There are no posts to display
